@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@font-face {
  font-family: "KERN";
  src: url("../public/fonts/kern/Kern-Regular.otf");
}
@font-face {
  font-family: "HAFFER";
  src: url("../public/fonts/haffer/HafferXHTRIAL-Regular.otf");
}
}